*~
*.o
*.lo
*.la
.deps
.libs

configure
libtool
GNUmakefile
GNUmakefile.in

other_tools/aclocal.m4
other_tools/autom4te.cache/
other_tools/config.log
other_tools/config.status
other_tools/config/autoconf/
other_tools/config/m4/libtool.m4
other_tools/config/m4/ltoptions.m4
other_tools/config/m4/ltsugar.m4
other_tools/config/m4/ltversion.m4
other_tools/config/m4/lt~obsolete.m4

other_tools/asc2log
other_tools/bcmserver
other_tools/can-calc-bit-timing
other_tools/canbusload
other_tools/candump
other_tools/canfdtest
other_tools/cangen
other_tools/cangw
other_tools/canlogserver
other_tools/canplayer
other_tools/cansend
other_tools/cansniffer
other_tools/isotpdump
other_tools/isotpperf
other_tools/isotprecv
other_tools/isotpsend
other_tools/isotpserver
other_tools/isotpsniffer
other_tools/isotptun
other_tools/log2asc
other_tools/log2long
other_tools/slcan_attach
other_tools/slcand
other_tools/slcanpty

/can-utils-*.tar.bz2
/can-utils-*.tar.gz
can_sniffer_v2

other_tools/config/
